
:root{
  scroll-behavior: smooth;
}


.navbar {
  background-color: #B9F3FC;
}


.jumbotron {
  padding-top: 5rem;
  background-color: #2E4F4F;
  color: #ffffff;
}

.about {
  background-color: #2C3333;
  color: #ffffff;
}


#galeri {
  background-color: #2E4F4F;
}

#galeri h2 {
  color: #ffffff;
}

.contact-me {
  background-color: #2C3333;
  color: #ffffff;
}
